zook-client/src/main/resources/META-INF/client.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://chailv.travelsky.com/schema/zook"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://chailv.travelsky.com/schema/zook"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://chailv.travelsky.com/schema/zook ">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="client" type="clientType"/>

    <xsd:complexType name="clientType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence minOccurs="0" maxOccurs="1">
                    <xsd:element name="listener" type="ClientListener" minOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute name="zkconnect" type="xsd:string" use="required"/>
                <xsd:attribute name="root" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ClientListener">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="ref" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
